
/* Coustard Josefin Slab Cormorant Garamond*/

h1 {
    font-family: 'Fjalla One', sans-serif;    
    font-weight: 700;
    line-height: 46px;
    font-size: 36px;
    margin: 0 0 43px 0;
    }
h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 23px;
    margin: 0 0 23px 0;
    
    }
  h3 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
  }

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

.photo {
  max-width: 75%;
  height:auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}
.nav-item-2 {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.main {
    margin-bottom: 30px; 

}

.card {
  border:;
}

.float {

  float: left;
  padding-right: 20px;
}
.carousel-inner img {
      width: 100%;  /*Set width to 100%*/ 
      min-height: 200px;
    
    
}
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }

.logo-block {
  max-width:150px;
  display: block;
  margin: auto;
  width: 40%;


}

/*.logo-block {
  @include media-breakpoint-up(sm) { .custom-class {
    display: none; }
  @include media-breakpoint-up(md) { .custom-class {
    display: none; }
  @include media-breakpoint-up(lg) { .custom-class {
    display: block; }
  @include media-breakpoint-up(xl) { .custom-class {
    display: block; }

}*/

.jumbotron {
  text-align: center
}

.footer {
  background-color: #e0e0e0;
  padding-top: 20px;

}

img {

  max-width:100%

}

.card-img-top {
  width: 100%;
  max-width: 150px;
  height: auto;

}

.wrapper {

  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
  text-align: none;
  padding: 50px;
  
}

.welcome {
text-align: center;

}

.push {

  height: 50px;

}

body { padding-top: 30px;}

  /* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: gray;
}

/* Timeline */
{
  box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) and Set a background color*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  /*background-color: #474e5d;*/
}

/* Container around content */
.tcontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.tcontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  border: 4px solid #474e5d;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .tcontainer {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }


/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

