
/* Coustard Josefin Slab Cormorant Garamond*/

h1 { font-family: 'Cambria' }

h2 { font-family: 'Cambria' }

h3 { font-family: 'Nickainley-Normal', Arial, sans-serif; }

h4 { font-family: 'Cambria' }

h5 { font-family: 'Cambria' }

.nav-item-2 {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.main {
    margin-bottom: 30px; 
}


.logo-block {
  max-width:150px;
  display: block;
  margin: auto;
  width: 40%;
}

.jumbotron {
  text-align: center
}


img {

  max-width:100%

}

.card-img-top {
  width: 100%;
  max-width: 150px;
  height: auto;

}

.wrapper {

  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
  
}
.push {

  height: 50px;

}

  /* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: gray;
}

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

/* The company logo */

.footer-distributed .footer-left{
  width: 20%;
  text-align: left;
}

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
  text-align: right;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

